language: java
os: osx
jdk: 
  - openjdk14
script:
  - cd src
  - javac -cp .:../lib/junit-4.12.jar CardGameTestSuite.java
  - java -cp .:../lib/junit-4.12.jar:../lib/hamcrest-core-1.3.jar org.junit.runner.JUnitCore CardGameTestSuite
